.main-container > h1 {
  display: flex;
  justify-content: center;
}
  
body{
  background: url("./img/b2.jpeg");
  background-color: #101216;
  color:black;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container{
  display: flex;
}

.dice-roller{
  display: block;
  margin: 0px;
}

.buttonScores {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#8498c3, #5972a7);
}

.buttonScores:hover {
  background: linear-gradient(#5972a7, #637aad);
}


.buttonScoresDeactivated{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:rgb(39, 38, 38);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#b5c5eb, #98a0b1);
}

.dice-display{
  display: flex;
  list-style-type: none;
}

.dice-display li{
  margin:0.33em;
  width: 3em;
}

.locked{
  background-color: red;
  border:5px solid red;
  border-bottom: 2px solid red;
  border-right: 4px solid red;
  border-radius: 12px;
}

.unlocked {
  background-color: lime;
  border: 6px solid lime;
  border-bottom: 2px solid lime;
  border-radius: 12px;
}

.App {
  text-align: center;
}

