.whole-yahtzee-game {
  background-color: rgba(70, 70, 70, 0.9); 
   /* Sets to 50% transparent */
  color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.main-container > h1 {
  display: flex;
  justify-content: center;
}


  
body{
  background: url("./img/b2.jpeg");
  background-color: #101216;
  color:black;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container{
  display: flex;
  flex-direction: column;

}

.dice-roller{
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0px;
}


.buttonScores {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#063849, #143039);
}

.buttonScores:hover {
  background: linear-gradient(#0d4e64, #17637c);
}

.buttonTotal{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(15, 13, 13);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#91dccd, #62c8c8);
}


.buttonScoresDeactivated{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#063849, #143039);


  /* Duncan has temporarily made Deactivated button and normal look the same. */
  /* font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(39, 38, 38);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#b5c5eb, #98a0b1); */
}

.dice-display{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.main-dice-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-display li{
  margin:0.33em;
  width: 3em;
}

.turn-heading{
  display: flex;
  justify-content: center; 
}

.end-turn-statement{
  display: flex;
  justify-content: center; 
}

.rolls-this-turn{
  display: flex;
  justify-content: center; 
}

.roll-the-dice-statement{
  display: flex;
  justify-content: center; 
}

.roll-dice-section{
    display: flex;
    justify-content: center; 
  }
  

.dice-container-display{
  display: flex;
  justify-content: center; 
}

.locked{
  background-color: rgb(162, 106, 3);
  border:5px solid orange;
  border-bottom: 2px solid orange;
  border-right: 4px solid orange;
  border-radius: 12px;
}

.unlocked {
  background-color: rgb(12, 147, 12);
  border: 6px solid lime;
  border-bottom: 2px solid lime;
  border-radius: 12px;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.score-sheet-outer {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  align-items: left;
}

.score-sheet {
  display: flex;
  /* margin-left: 11em ; */
  flex-direction: column;
  /* align-items: left; */
  justify-content: center;
}

.table {
  background-color: white;
  color: black;
  border: 12px solid black;
  border-radius:15px;
  margin-left: 15%;
  margin-right: 15%;
  align-self: center;
}

td {
  border: 1px solid black;
  width: 5em;
  text-align: center;
  border-radius:5px;
}

th {
  padding: 0.55em;
}

.game-over {
  display: flex;
  justify-content: center;
}

.player-form {
  /* margin-left: 40%;
  margin-right: 40%; */
  display: flex;
  justify-content: center;
  flex-direction:column;
  width: 350px;
}

.player-form input {
  margin-top: 0.5em;
  padding: 0.66em;
  border-radius: 50px;
}

#save {
  border-radius: 3px;
  width: 100%;
  margin-bottom: 1em;
}

.roll-dice-button{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(15, 13, 13);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#91dccd, #7aa6a6);
  border-radius:4px;
  }
