
body{
  background-color: #101216;
  color:#bdd0f5;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container{
  display: flex;
}

.dice-roller{
  display: block;
  margin: 0px;
}

.buttonScores {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#8498c3, #5972a7);
}

.buttonScores:hover {
  background: linear-gradient(#5972a7, #637aad);
}


.buttonScoresDeactivated{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:rgb(39, 38, 38);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#b5c5eb, #98a0b1);
}



.dice-display{
  display: flex;
  list-style-type: none;
}

.dice-display li{
  margin:4px;
  width: 50px;
}

.locked{
  background-color: #0d9ce9;
}

.App {
  text-align: center;
  
}

