.whole-yahtzee-game {
  background-color: rgba(70, 70, 70, 0.9); 
   /* Sets to 50% transparent */
  color: #fff;
  border-radius: 25px;
}

.main-container > h1 {
  display: flex;
  justify-content: center;
}
  
body{
  background: url("./img/b2.jpeg");
  background-color: #101216;
  color:black;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container{
  display: flex;
  flex-direction: column;

}

.dice-roller{
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0px;
}


.buttonScores {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#063849, #143039);
}

.buttonScores:hover {
  background: linear-gradient(#0d4e64, #17637c);
}

.buttonTotal{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(15, 13, 13);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#91dccd, #62c8c8);
}


.buttonScoresDeactivated{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(39, 38, 38);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#b5c5eb, #98a0b1);
}

.dice-display{
  display: flex;
  list-style-type: none;
  justify-content: center; 
}

.dice-display li{
  margin:0.33em;
  width: 3em;
}

.turn-heading{
  display: flex;
  justify-content: center; 
}

.end-turn-statement{
  display: flex;
  justify-content: center; 
}

.rolls-this-turn{
  display: flex;
  justify-content: center; 
}

.roll-the-dice-statement{
  display: flex;
  justify-content: center; 
}

.roll-dice-button{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgb(15, 13, 13);
  border-color:#314179;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #8fa1c6;
  background:linear-gradient(#91dccd, #62c8c8);
  }

  .roll-dice-section{
    display: flex;
    justify-content: center; 
  }
  

.dice-container-display{
  display: flex;
  justify-content: center; 
}

.locked{
  background-color: red;
  border:5px solid red;
  border-bottom: 2px solid red;
  border-right: 4px solid red;
  border-radius: 12px;
}

.unlocked {
  background-color: lime;
  border: 6px solid lime;
  border-bottom: 2px solid lime;
  border-radius: 12px;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
}

.score-sheet {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.table {
  background-color: white;
  color: black;
  border: 12px solid black;
  margin-left: 15%;
  margin-right: 15%;
}

td {
  border: 1px solid black;
  width: 5em;
}